body {
  bottom: 10px;
  background-color: #000000;
  color: #d6cdcd;


	position: relative;
  background-position: center;
  font-family: sans-serif;
}


#freddy {
  display: block;
  margin: auto;
}
div {

  width: 500px;
  backdrop-filter: blur(4px);
}

#freddy {
  backdrop-filter: blur(4px);
}
#pecados {
  color: red;
}
#reflexiones {
  color: white;
}
h1 {
  text-align: center;
}
.colorama {
  animation-name: aleluya;
  text-align: center;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.imagen {
  margin: auto;
}
.freddycum {
  height: 150px;
}
#carlos {
  color: #AB0000;
}
@keyframes aleluya {
  0% {
    color: blue;
  }
  50% {
    color: rose;
  }
  100% {
    color: yellow;
  }
}
